In [37]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [38]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [39]:
for i in range(10):
    if i % 2 == 0:
        pass  # Do nothing
    else:
        print(i)

1
3
5
7
9