In [50]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

In [51]:
# Accessing elements
print(my_tuple[0])
print(my_tuple[-1])

1
5

In [52]:
# Slicing
print(my_tuple[1:3])
print(my_tuple[:3])
print(my_tuple[3:])

(2, 3)
(1, 2, 3)
(4, 5)

In [53]:
# Length of the tuple
print(len(my_tuple))

5

In [54]:
# Checking membership
print(5 in my_tuple)

True

In [55]:
# Concatenating tuples
concatenated_tuple = my_tuple + (6, 7)
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [56]:
# Repetition
repeated_tuple = my_tuple * 2
print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [57]:
# Tuple unpacking
a, b, c, d, e = my_tuple
print(a, b, c, d, e)

1 2 3 4 5

In [58]:
# Count occurrences of an element
count = my_tuple.count(3)
print(count)

1

In [59]:
# Get index of the first occurrence of an element
index = my_tuple.index(3)
print(index)

2